.scaleContainer {
  display: flex;
}

.scaleLeft {
  height: 50px;
  width: 200px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: lightgray;
}

.scaleMiddle {
  height: 50px;
  width: 200px;
  background-color: lightgray;
}
.scaleRight {
  height: 50px;
  width: 200px;
  background-color: lightgray;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}

.break {
  width: 2px;
}
.text {
  color: rgb(2, 127, 211);
}
.light {
  background-color: rgb(15, 201, 170);
}
